<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <title>위메이크 커뮤니티 - 로그인</title>
        <th:block th:include="fragments/header"></th:block>
    </head>
    <body>
        <div id="app">
            <span th:text="${exception}"></span>
            <form th:action="@{/auth/login}" method="post">
                <label for="email">email</label>
                <input type="text" id="email" name="email" autofocus="autofocus">

                <label for="password">Password</label>
                <input type="password" id="password" name="password">

                <br>

                <button type="submit">Login</button>
            </form>
            <th:block th:include="fragments/footer"></th:block>
        </div>
    </body>
</html>