<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>위메이크 커뮤니티 - 로그인</title>
</head>

<th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/static/css/login.css}" />
</th:block>

<th:block layout:fragment="main">
    <div id="app">
        <span th:text="${exception}"></span>
        <form th:action="@{/auth/login}" method="post">
            <label for="username">email</label>
            <input type="text" id="username" name="username" autofocus="autofocus">

            <label for="password">Password</label>
            <input type="text" id="password" name="password">

            <br>

            <button type="submit">Register</button>
        </form>
    </div>
</th:block>

<th:block layout:fragment="custom_js">
    <script th:src="@{/static/js/login.js}"></script>
</th:block>

</html>